<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/base.css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include 'menu.html.twig' %}
<div class="base-content">{% block content %}{% endblock %}</div>
{% include 'footer.html.twig' %}
</body>
</html>