<div class="menu">
    <div class="menu-item">
        <a href="{{ path('index') }}">
            <img src="{{ absolute_url(asset('images/logo.png')) }}" height="20px" alt="Logo!"/>
        </a>
    </div>
    <div class="menu-item">
        <a href="{{ path('list_posts') }}">Список постов</a>
    </div>
    <div class="menu-item">
        <a href="{{ path('index') }}">Новый пост</a>
    </div>
</div>