{% extends "authorized.html.twig" %}

{% block title %}Create post{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <h1 class="display-5 fw-bold mt-5 mb-5">Create post</h1>
    {{ form(form) }}
{% endblock %}