{% extends "base.html.twig" %}

{% block title %}Posts list{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/posts_list.css"/>
{% endblock %}
{% block content %}
    <h1 class="posts-list-title">Count of posts {{ posts_list|length }}!</h1>
    <div class="posts-list">
        {% for post in posts_list %}
            {% include 'post/list_item.html.twig' with post %}
        {% endfor %}
    </div>
{% endblock %}